{%- for message in messages -%}
    {%- if loop.first and message['role'] != 'system' -%}
       {{- '<|im_start|>system\nYou are a helpful assistant.<|im_end|>\n' -}}
    {%- endif -%}
    {{- '<|im_start|>' + message['role'] + '\n' + message['content'] -}}
    {%- if message['role'] == 'user' -%}
        {{- '   You first think about the reasoning process as an internal monologue and then provide the user with the answer. Respond in the following format: <think>\n...\n</think>\n<answer>\n...\n</answer>' -}}
    {%- endif -%}
    {%- if (loop.last and add_generation_prompt) or not loop.last -%}
        {{- '<|im_end|>' + '\n' -}}
    {%- endif -%}
{%- endfor -%}

{%- if add_generation_prompt and messages[-1]['role'] != 'assistant' -%}
    {{- '<|im_start|>assistant\n' -}}
{%- endif -%}